/* -- adding google fonts for poppins -- */
@import url(https://fonts.googleapis.com/css2?family=Poppins);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* -- header section -- */

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
}
.logo img {
  width: 240px;
}

.searchProfileContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 400px;
}

.searchBox input[type="text"] {
  border: 2px solid #000;
  background: #f6f6e3;
  padding: 10px 6px;
  font-size: 16px;
  border-radius: 5px;
  width: 200px
}

.profileContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100px;
}

.profileContainer img {
  width: 40px;
  height: 40px;
}

/* --navbar section-- */
nav {
  display: flex;
  padding: 12px 40px;
  background-color: rgb(223, 106, 106);
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-right: 48px;
}

/*-- heroSeciton-- */
.heroSection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.heroCol-1 {
  flex-basis: 68%;
  min-width: 300px;
}

.heroCol-2 {
  flex-basis: 32%;
  min-width: 300px;
  padding-left: 20px;
}

.heroCol-1 img {
  max-width: 100%;
}

.heroCol-1 {
  position: relative;
}

.heroCol-1 h1 {
  font-size: 48px;
  color: rgb(223, 106, 106);
}

.heroImageText {
  position: absolute;
  top: 32px;
  left: 42px;
  background: rgba(240, 239, 239, 0.1);
}

.CTAbutton {
  display: inline-block;
  background: rgb(223, 106, 106);
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.CTAbutton:hover {
  background: rgb(132, 106, 106);
}

/*-- Divider--*/
.textDivider {
  margin: 40px 0 20px 40px
}
.textDivider h1 {
  font-size: 24px;
}

/*-- Activity Section --*/ 
.activitySection {
  max-width: 84%;
  margin: auto;
}
/*-- Firt row --*/
.row-1-container {
  display: flex;
  justify-content: space-around;
}

.row-1-col {
  flex-basis: 50%;
  position: relative;
  text-align: center;
}

.row-1-col img {
  max-width: 100%;
  padding: 10px;
}

.row-1-overlayText{
  position: absolute;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row-1-overlayText h3 {
  font-size: 38px;
  color: white;
}

.row-1-overlayText p {
  font-size: 14px;
  margin-top: 14px;
  padding: 8px;
  color: white;
  border: 2px solid white;
}

.row-1-overlayText a {
  text-decoration: none;
}

/*--Second Row--*/
.row-2-container {
  display: flex;
  justify-content: space-around;
}
.row-2-col {
  flex-basis: 25%;
  position: relative;
  text-align: center;
}

.row-2-col img {
  max-width: 100%;
  padding: 10px;
}

.row-2-overlayText{
  position: absolute;
  width: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row-2-overlayText h3 {
  font-size: 24px;
  color: white;
}

.row-2-overlayText p {
  font-size: 12px;
  margin-top: 14px;
  padding: 6px;
  color: white;
  border: 2px solid white;
}

.row-2-overlayText a {
  text-decoration: none;
}

/*-- Empty Divider--*/
.emptyDivider {
  height: 120px;
}

/*--Footer--*/
.footer {
  background: #f6f6e3;
  color: #8a8a8a;
  font-size: 14px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;

}

.linkContainer {
  display: flex;
  width: 280px;
  justify-content: space-between
 
}

.footer ul {
  list-style-type: none;
}

.followUs {
  width: 300px;
  justify-content: center;
}
.followUs a img {
  width: 32px;
  height: 32px
}

.signUp {
  display: inline-block;
  background: rgb(223, 106, 106);
  padding: 8px 30px;
  margin: 10px 0;
}

.followUs a {
  text-decoration: none;
}

/* ------ product Browse page -----*/

.browseBar {
  background: #f6f6e3;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.productsRow {
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.products-col-3 {
  flex-basis: 33%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}

.products-col-3 img {
  width: 100%;
}
}
